{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "plugins": [],
  "ignore": [
    "**/mocks/**",
    "**/*.test.js"
  ]
}