.vscode
# node_modules/
config/config-development.json
.idea
coverage
./output
test-report.xml

# override build harness vendoring
!vbh/.build-harness-bootstrap
!vbh/build-harness
!vbh/build-harness-extensions
