.vscode
node_modules/
config/config-development.json
.idea
coverage
output/
test-report.xml

# override build harness vendoring
!vbh/.build-harness-bootstrap
!vbh/build-harness
!vbh/build-harness-extensions
sslcert/searchapi.crt
sslcert/searchapi.csr
sslcert/searchapi.key
rediscert/redis.crt
.DS_Store
