@icp:registry=https://na-blue.artifactory.swg-devops.com/artifactory/api/npm/hyc-ibm-pvt-cloud-npm-local/
//na-blue.artifactory.swg-devops.com/artifactory/api/npm/hyc-ibm-pvt-cloud-npm-local/:_password=${ARTIFACTORY_PWD}
//na-blue.artifactory.swg-devops.com/artifactory/api/npm/hyc-ibm-pvt-cloud-npm-local/:username=${ARTIFACTORY_USER}
//na-blue.artifactory.swg-devops.com/artifactory/api/npm/hyc-ibm-pvt-cloud-npm-local/:email=${ARTIFACTORY_USER}
//na-blue.artifactory.swg-devops.com/artifactory/api/npm/hyc-ibm-pvt-cloud-npm-local/:always-auth=true